body {
	margin:0px;
	background-color:black;
	z-index:1;
	font-family:normal;
}


/*=====================================================
                         fonts
=======================================================*/


@font-face{
	font-family:'normal';
	src: url("../fonts/Regular.otf")
}

@font-face{
	font-family:'bold';
	src: url("../fonts/Black.otf")
}


/*=====================================================
                         Navigation bar
=======================================================*/

.navigation{
	background-color:#A6D2DB;
	width:80%;
	z-index:2;
	margin-left:10%;
	margin-right:10%;
	height:50px;
	list-style:none;
	padding-top:30px;
	padding-bottom:50px;
	margin:0 auto;
}

/*navigation left*/

.navLeft img{
	height:30px;
	float:left;
	display:inline;
}

.navLeft li{
	float:left;
	display:inline;
	font-family:bold;
}

.navLeft{
	margin-left: 8%;
	font-size:22px;
}

/*navigation right*/

.navRight li{
	float:right;
	display:inline;
	margin-left:40px;	
	font-family:normal;
}

.navRight{
	margin-right:8%;
	font-size:20px;
}
li.navPortfolio {
	background-color:black;
	padding:4px 8px 4px 8px;
	margin-top:-4px;
	color:#A6D2DB;
	border-radius: 5px;
	font-family:bold;
}





/*=====================================================
                         section1
=======================================================*/


div.sectionOne {
	background-color:#A6D2DB;
	width:80%;
	z-index:2;
	margin-left:10%;
	margin-right:10%;
	display:inline-block;
}

.containerSectionOne div {
	display:inline-block;
	margin:0 auto;
	z-index:3;
	height:250px;
	width:450px;
	overflow:hidden;
}



div.left {
	font-size:50px;
	text-align:center;
	color:white;
	font-family:bold;
	margin-left:10%;

}

div.right{
}

img.monitor {
	height:250px;
	padding-left:50px;
   
}


/* The dots/bullets/indicators */
.dots {
	padding-bottom:30px;
}

.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 5px;
  background-color: #FEFEFE;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: lightgrey;
}


/*=====================================================
                         section2
=======================================================*/



div.sectionTwo {
	background-color:#FEFEFE;
	width:80%;
	z-index:2;
	margin-left:10%;
	margin-right:10%;
}

.containerSectionTwo {
	margin-left:5%;
}
.containerSectionTwo div {
	height:300px;
	width:200px;
	display:inline-block;
	z-index:3;
	margin:0 auto;
	padding:50px;
	text-align:center;
}

.containerSectionTwo p{
	
	width:250px;
	font-family:normal;
}


.containerSectionTwo img{
	width:100px;
	margin-bottom:10px;
	margin-left:25%;
}

p.bold {
	font-family:bold;
}





/*=====================================================
                         section3
=======================================================*/
div.sectionThree {
	background-color:#9BD5A5;
	width:80%;
	z-index:2;
	margin-left:10%;
	margin-right:10%;
	font-family
	
}

.containerSectionThree {
	margin-left:5%;
}

/*title*/

.containerSectionThree p{
	text-align:center;
	margin:0px;
	color:white;
	font-size:50px;
	margin-left:-5%;
}

.containerSectionThree p.small{
	text-align:center;
	padding:0px;
	color:white;
	font-size:20px;
}

.containerSectionThree p.bold {
	padding-top:50px;
}

/*links*/

.containerSectionThree li{
	display:inline-block;
	text-align:center;
	margin-right:40px;	
	font-family:normal
	margin-top:20px;
	margin-bottom:20px;
}
.containerSectionThree ul{

	text-align:center;
	margin-top:90px;
	
}

.all {
	background-color:white;
	padding: 4px 8px 4px 8px;
	color:#9BD5A5;
	border-radius:8px;
}

li.web{
	border:2px solid white;
	padding: 4px 8px 4px 8px;
	border-radius:8px;
	color:white;
}

/*images*/


.containerSectionThree div{
	height:150px;
	margin:0 auto;
	overflow:hidden;
	display:inline-block;
	margin:30px;
}


.containerSectionThree img{
	width:250px;
}




/*==================================================================
							section 4
================================================================*/

div.sectionFour {
	background-color:#FEFEFE;
	width:80%;
	z-index:2;
	margin-left:10%;
	margin-right:10%;
	display:inline-block;
}

.containerSectionFour div {
	display:inline-block;
	margin:0 auto;
	z-index:3;
	height:250px;
	width:450px;
	overflow:hidden;

}


div.left2{
	width:35%;
	float:left;
	margin:0 auto;
	display:inline-block;
	padding-top:50px;
}

div.right2{
	float:left;
	text-align:left;
	margin:0 auto;
	display:inline-block;
	width:45%;
	margin-left:40px;
	padding-top:75px;
}

.sectionFour img{
	width:200px;
	float:right;
}
.showMore2 {
	font-family:bold;
	background-color:#9BD5A5;
	padding: 6px 12px 6px 12px;
	width:100px;
	border-radius:8px;
	color:white;
}



/*==========================================================
						accent
=============================================================*/
.accent{
	background-color: grey;
	height:2px;
	width:700px;
	margin:0 auto;
	margin-top: -20px;
	z-index:5;
}


/*==========================================================
					section 4.5
=============================================================*/



div.sectionFourFive {
	margin-top:-5px;
	background-color:#FEFEFE;
	width:80%;
	z-index:2;
	margin-left:10%;
	margin-right:10%;
	display:inline-block;
}

.containerSectionFourFive div {
	display:inline-block;
	margin:0 auto;
	z-index:3;
	height:250px;
	width:450px;
	overflow:hidden;

}


div.left3{
	width:45%;
	float:left;
	margin:0 auto;
	display:inline-block;
	padding-top:75px;
	margin-left:18%;
	margin-right:20px;

}

div.right3{
	float:left;
	text-align:left;
	margin:0 auto;
	display:inline-block;
	padding-top:50px;

}

.sectionFourFive img{
	width:200px;
	float:left;
}
.showMore3 {
	font-family:bold;
	background-color:#9BD5A5;
	padding: 6px 12px 6px 12px;
	width:100px;
	border-radius:8px;
	color:white;
}








/*======================================================
						responsive
/*=======================================================*/

@media (max-width:1320px){
	
	.containerSectionTwo {
		margin-left:2%;
	}

	.containerSectionThree {
		margin-left:3%;
	}
	
}
/*--------------------------------------------------------*/
@media (max-width:1273px){

	div.left {
		font-size:60px;
		margin-left:22%;
		margin-top:-100px;
	}

	.containerSectionOne div {
		width:550px;
	}

	div.right {
		height:250px;
		margin-left:30%;
	}

}
/*--------------------------------------------------------------*/
@media(max-width:1243px){

	.containerSectionTwo {
		margin-left:1%;
	}

	.containerSectionThree {
		margin-left:1.5%;
	}
}
/*---------------------------------------------------------------*/
@media(max-width:1220px){

	.containerSectionTwo {
		margin-left:0%;
	}
	.containerSectionThree {
		margin-left:1%;
	}
}

/*--------------------------------------------------------------------*/

@media(max-width:1200px){
	
	.containerSectionTwo {
		margin-left:3%;
	}
	.containerSectionThree {
		margin-left:5%;
	}

	.containerSectionTwo div{
		padding:35px;
	}

	.containerSectionThree div{
		margin:15px;
	}
}

/*-----------------------------------------------------------*/

@media(max-width:1190px){

	.navLeft{
		font-size:20px;
	}

	.navRight{
		margin-right:5%;
		font-size:18px;
	}

	div.left {
		font-size:60px;
		margin-left:20%;
		margin-top:-100px;
	}

	div.right {
		margin-left:28%;
	}

}

/*---------------------------------------------------*/

@media (max-width:1180px){

	.containerSectionTwo {
		margin-left:2%;
	}
	.containerSectionThree {
		margin-left:3%;
	}
}



/*---------------------------------------------------*/

@media (max-width:1140px){
	
	.containerSectionTwo {
		margin-left:10%;
	}

	.containerSectionTwo img{
	width:80px;
	}

	.containerSectionTwo div{
	height:220px;
	width:150px;
	}

	.containerSectionTwo p{
	width:200px;
	font-size:13.5px;
	}

	.containerSectionThree {
		margin-left:2%;
	}

	.containerSectionThree ul{
		margin-top:50px;
	}
}

/*---------------------------------------------------*/

@media (max-width:1110px){
	.containerSectionThree {
		margin-left:1%;
	}
}

/*---------------------------------------------------*/

@media (max-width:1090px){

	.containerSectionOne div{
		height:200px;
	}
	
	img.monitor {
	height:180px;
	}


	div.left {
		font-size:45px;
		margin-left:18%;
		margin-top:-20px;
	}

	div.right {
		margin-left:32%;
	}


	.containerSectionThree {
		margin-left:8%;
	}

	.containerSectionThree div{
		height:130px;
		margin:20px;
	}


	.containerSectionThree img{
		width:200px;
	}
}


/*-----------------------------------------------*/



@media (max-width:1080px){

	.containerSectionTwo {
		margin-left:6%;
	}

	.containerSectionThree {
		margin-left:6%;
	}

	.navRight{
		margin-right:6%;
		font-size:14px;
	}

	.navLeft{
		font-size:16px;
	}

	div.right {
		margin-left:31%;
	}



/*---------------------------------------------------*/

@media (max-width:1040px){

	div.right {
		margin-left:32%;
	}
}

/*-----------------------------------------------*/


@media (max-width:1035px){

	.containerSectionTwo {
		margin-left:4%;
	}

	.containerSectionThree {
		margin-left:4%;
	}

}

/*-----------------------------------------------*/
@media (max-width:1000px){
	
	div.right {
		margin-left:31%;
	}
}

/*----------------------------------------------*/


@media (max-width:990px){

	div.left {
		font-size:45px;
		margin-left:13%;
		margin-top:-20px;
	}

	div.right {
		margin-left:30%;
	}

}

/*-----------------------------------------------*/


@media (max-width:965px){

	.containerSectionThree {
		margin-left:16%;
	}
	.containerSectionTwo {
		margin-left:2%;
	}

	.containerSectionThree div{
		height:150px;
		margin:20px;
	}

	.containerSectionThree img{
		width:230px;
	}

	.containerSectionThree p{
	margin-left:-13%;
	}
	.containerSectionThree ul{
	margin-left:-13%;
	}

}

/*-----------------------------------------------*/


@media (max-width:936px){

	.navRight{
		font-size:12px;
		margin-right:3%;
	}
	.navLeft{
		font-size:14px;
	}
	.containerSectionTwo {
		margin-left:1%;
	}

	.containerSectionThree {
		margin-left:12%;
	}
}
/*-----------------------------------------------*/


@media (max-width:926px){
	
	div.right{
		margin-left:29%;
	}
}

/*-----------------------------------------------*/


@media (max-width:920px){
	
	div.right{
		margin-left:27%;
	}
}



/*-----------------------------------------------*/


@media (max-width:900px){

	.containerSectionTwo {
		margin-left:0%;
	}
	.containerSectionTwo p{
		font-size:10px;
	}
	.containerSectionTwo img{
		width:60px;
	}

	.containerSectionTwo div{
		height:220px;
		width:140px;
	}

	.containerSectionTwo p{
		width:170px;
		font-size:13.5px;
	}
	.sectionTwo .three .bold{
		margin-top: -5px;
	}
}

/*-----------------------------------------------*/


@media (max-width:850px){

	.containerSectionThree {
		margin-left:10%;
	}
}


/*-----------------------------------------------*/


@media (max-width:840px){

	.navRight{
		margin-right:3%;
	}


	.containerSectionThree li{
		margin-right:30px;
	}

	.containerSectionTwo div{
		margin-left:-1%;
	}
}

/*-----------------------------------------------*/

@media (max-width:830px){

	.containerSectionThree {
		margin-left:8%;
	}

	.containerSectionThree p{
	margin-left:-11%;
	}
	.containerSectionThree ul{
		margin-left:-11%;
	}
	.navLeft{
		margin-left:3%;

}


/*-----------------------------------------------*/

@media (max-width:818px){
	
	.navRight{
		margin-left:1%;
	}
	
	div.left {
		font-size:45px;
		margin-left:8%;
		margin-top:-100px;
	}

	div.right {
		margin-left:26.5%;
	}

	.description{
		display:none;
	}

	.containerSectionTwo {
		margin-left:5%;
		height:200px;

	}

	.containerSectionTwo div{
		padding:20px;
		padding-top:40px;

	}

	.containerSectionThree p.small {
		font-size:14px;
	}

}

/*-----------------------------------------------*/

@media (max-width:792px){

	.containerSectionThree {
		margin-left:6%;
	}
	.containerSectionThree p{
	margin-left:-8%;
	}
	.containerSectionThree ul{
		margin-left:-8%;
	}


	


	div.left {
		margin-left:6%;
	}
	div.right {
		margin-left:26%;
	}

}

/*-----------------------------------------------*/

@media (max-width:785px){

	.navRight li{
		margin-left:20px;
	}

	.containerSectionTwo {
		margin-left:4%;
	}
}

/*-----------------------------------------------*/

@media (max-width:770px){

	.containerSectionTwo {
		margin-left:3%;
	}
	div.right{
		margin-left:25%;
	}

	.containerSectionThree {
		margin-left:5%;
	}

}
/*-----------------------------------------------*/

@media (max-width:765px){
	
	.containerSectionThree li{
		margin-right:20px;
	}

}

/*------------------------------------------------*/

@media (max-width:760px){

	.containerSectionTwo {
		margin-left:2%;
	}
	div.right {
		margin-left:24.5%;
	}
	.containerSectionThree {
		margin-left:4%;
	}

}
/*-----------------------------------------------*/

@media (max-width:750px){

	.containerSectionTwo {
		margin-left:1%;
	}

}

/*-----------------------------------------------*/

@media (max-width:740px){
		
		.containerSectionThree {
		margin-left:3%;
	}
}


/*-------------------------------------------------*/

@media (max-width:733px){
 	
 	div.right{
 		margin-left:25%;
 }
}

/*-------------------------------------------------*/

@media (max-width:730px){

	.containerSectionThree div{
	height:130px;
	}

	.containerSectionThree img{
		width:200px;
	}
	.containerSectionThree{
		margin-left:8%;
	}
}

/*-------------------------------------------------*/

@media (max-width:722px){
	
	div.right{
		margin-left:24%;
	}
	.containerSectionTwo {
		margin-left:0%;
	}
}
/*-------------------------------------------------*/
@media (max-width:720px){

	.containerSectionThree{
		margin-left:7%;
	}
	.sectionOne p{
		font-size:36px;
	}
	div.left{
		margin-left:2%;
	}
	.containerSectionThree p.bold{
		font-size:36px;
	}
	.containerSectionThree ul{
		font-size:12px;
		margin-top:20px;
	}
}

/*---------------------------------------------------*/

@media (max-width:700px){

	.containerSectionThree{
		margin-left:6%;
	}
	div.right{
		margin-left:22.5%;
	}

}

/*---------------------------------------------------*/

@media (max-width:685px){
	.containerSectionTwo{
		margin-left:-2%;
	}
	.containerSectionThree p.small {
		display:none;
	}
}













